body {
    background-color: rgb(255, 255, 255);
}
h1 {
    color: rgb(43, 255, 0);
    font-size: 50px.
    text-align: center;
}
p{
    font-size: 30px;
} 
.ambiente {
    width: 85%
    border: 40px solid rgb(19,1,1);
}
ul{
    display: inline-block;
    margin-right: 30%;
}
.cafe{

    width: 20%;
 
}
    